{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="categories">
        {% if category is None %}Latest{% else %}{{category}}{% endif %}
        <img src="{% static 'right-arrow.svg' %}">
        <ul>
            {% if category != None %}
                <a href="{% url 'index' %}"><li>Latest</li></a>
            {% endif %}
            {% for cat in categories %}
                {% if cat != category %} {# If Category is not current page #}
                    <a href="{% url 'index' category_slug=cat.slug page_number=1 %}"><li>{{cat}}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <section class="gallery">
    {% for photo in photos %}
        <a onclick="showModal('/photo/{{photo.id}}')">
            <img src="/media/thumb/{{ photo.id }}.jpg">
            <h3 class="thumbnailCaption">{{ photo.name }}</h3>
        </a>
    {% endfor %}
    </section>
    <div class="pageNumbers">
        {% if show_nav %}
            <a {% if photos.has_previous %}href="{% url 'index' page_number=photos.previous_page_number category_slug=category_slug %}"{% endif %}
            title="Previous Page">Prev</a>

             {% for i in page_list %}
                <a class="number" {% if photos.number == i %}id="active"{% endif %} 
                href="{% url 'index' page_number=i category_slug=category_slug %}">{{ i }}</a>
            {% endfor %}

            <a {% if photos.has_next %}href="{% url 'index' page_number=photos.next_page_number category_slug=category_slug %}"{% endif %} title="Next Page">Next</a>
        {% endif %}
    </div>
{% endblock %}
