{% extends 'base.html' %}
{% load staticfiles %}

{% block header_block %}

<section class="full">
    <h1>Tony Morton</h1>
    <div class="fadein">
    </div>
    <div class="gradient"></div>
</section>
{% endblock %}

{% block body_block %}
    <div class="categories">
        {% if category is None %}
            <span>All</span>
        {% else %}
            <span>{{category}}</span>
        {% endif %}
        <div class="items">
            {% if category != None %}
                <a href="{% url 'index' %}">All</a>
            {% endif %}
            {% for cat in categories %}
                {% if cat != category %} {# If Category is not current page #}
                    <a href="{% url 'index' category_slug=cat.slug page_number=1 %}">{{cat}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <section class="gallery">
    {% for photo in photos %}
        <a onclick="showModal('/photo/{{photo.id}}')">
            <img src="/media/thumb/{{ photo.id }}.jpg">
            <h3 class="thumbnailCaption">{{ photo.name }}</h3>
        </a>
    {% endfor %}
    </section>
    <div class="pageNumbers">
        {% if show_nav %}


            {% if photos.has_previous %}
                <a href="{% url 'index' page_number=1 category_slug=category_slug %}" title="First Page">&lt&lt</a>
                <a href="{% url 'index' page_number=photos.previous_page_number category_slug=category_slug %}" title="Previous Page">&lt</a>
            {% else %}
                <span title="First Page">&lt&lt</span>
                <span title="Previous Page">&lt</span>
            {% endif %} 

             {% for i in page_list %}
                {% if photos.number == i %}
                    <a id="active" href="{% url 'index' page_number=i category_slug=category_slug %}">{{ i }}</a>
                {% else %}
                    <a href="{% url 'index' page_number=i category_slug=category_slug %}">{{ i }}</a> 
                {% endif %}
            {% endfor %}


            {% if photos.has_next %}
                <a href="{% url 'index' page_number=photos.next_page_number category_slug=category_slug %}" title="Next Page">&gt</a>
                <a href="{% url 'index' page_number=num_pages category_slug=category_slug %}" title="Last Page">&gt&gt</a>
            {% else %}
                <span title="Next Page">&gt</span>
                <span title="Last Page">&gt&gt</span>
            {% endif %}



        {% endif %}
    </div>
{% endblock %}
