/* line 1, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
html {
  background-image: url(/static/photos/admin.jpg);
  background-attachment: fixed;
  background-size: cover; }

/* line 7, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
body {
  background: none; }

/* line 11, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
main {
  padding-top: 5rem;
  background: none;
  justify-content: space-between; }

/* line 17, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
form {
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  min-width: 15rem; }
  /* line 24, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form label {
    display: inline-block;
    width: 100%; }
  /* line 28, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form input, form textarea, form .delete {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 2rem;
    min-width: 10rem;
    font-size: 1rem; }
  /* line 37, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form img {
    width: 100%; }
  /* line 41, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form a {
    text-decoration: none; }
  /* line 45, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form textarea {
    min-height: 5rem; }
  /* line 49, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form p input:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid #CDDC39; }
  /* line 55, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form ul {
    margin: 0;
    padding-left: 1rem; }
    /* line 58, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
    form ul li {
      display: block;
      list-style: none; }
      /* line 61, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
      form ul li label {
        text-align: left;
        display: inline-block;
        height: 1.5rem; }
        /* line 65, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
        form ul li label input {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          padding: 0;
          margin: 0; }
  /* line 76, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form .half {
    width: 50%;
    display: inline-block;
    margin: 0;
    float: left; }
  /* line 83, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form a.delete {
    border-radius: 0;
    outline: none;
    border: none;
    background-color: #F44336;
    text-align: center;
    line-height: 2rem;
    color: white; }
  /* line 93, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
  form input.submit {
    border-radius: 0;
    outline: none;
    border: none;
    background-color: #C0CA33; }
    /* line 98, /Users/alexanderedwards/TonyMortonPhotography/static/styles/admin.scss */
    form input.submit:focus {
      background-color: #AFB42B; }

/*# sourceMappingURL=admin.css.map */