/*http://tympanus.net/codrops/2013/06/18/thumbnailCaption-hover-effects/*/

@font-face {
	font-family: "Camera-Icons";
	src: url(/static/camera-icons.ttf);
}

.gallery {
    a {
        overflow: hidden;
        margin: 1rem;
        position: relative;
        max-width: 400px;
        padding: 0;
        border: 5px solid #EEEEEE;
        border-radius: 5px;
        cursor: zoom-in;
        display: block;
//        width: 100%;

        img {
            max-width: 100%;
            display: block;
            position: relative;
            transition: transform 0.4s;
        }

        &:hover img{
            transform: translateY(-2rem);
        }
        
        h3 {
            margin: 0;
            font-family: Roboto-Thin; //TODO
            font-weight: 400;
            position: absolute;
            left: 0;
            background: #EEEEEE;
            color: #424242;
            width: 100%;
            max-width: 100%;
            top: auto;
            bottom: 0;
            opacity: 0;
            transform: translateY(100%);
            transition: transform 0.4s, opacity 0.1s 0.3s;
            text-align: center;
            text-transform: capitalize;
            font-size: 1.5rem;
            padding: 1rem 0;

        }
        
        &:hover h3 {
            opacity: 1;
            transform: translateY(0px);
            transition: transform 0.4s, opacity 0.1s;    
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 10000;
}

.modal img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    animation-name: zoomImage;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes zoomImage {
    0% {
        max-height: 0%;
        max-width: 0%;
    }
    
    50% {
        max-height: 0%;
        max-width: 0%;
    }
    100% {
        max-height: 100%;
        max-width: 100%;
    }
}

.fullCaption {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: Roboto-Thin;
    background-color: rgba(0,0,0, 0.8);
    min-height: 5rem;
    padding: 1rem 0;
    display: block;
}

.fullCaption .name {
    color: white;
    font-size: 2rem;
    margin: 2rem;
}

.fullCaption .settings{
    color: #9E9E9E;
    font-size: 1.5rem;
}

.modal svg {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    
}

.modal svg rect.one{
    transform-origin: 50% 50% 0px;
    transform: rotate(45deg);
    
    animation-name: rotateCrossesOne;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;

}

.modal svg rect.two{
    transform-origin: 50% 50% 0px;
    transform: rotate(-45deg);
    
    animation-name: rotateCrossesTwo;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;

}

@keyframes rotateCrossesOne {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotateCrossesTwo {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-45deg);
    }
}


.camera_icon {
	font-family: 'Camera-Icons';
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin-right: .5em;
    margin-left: 2em;
	margin-top: -.15em;
}

.icon_focal_length:before {
	content: '\e600';
}

.icon_exposure_time:before {
	content: '\e601';
}

.icon_iso:before {
	content: '\e602';
}

.icon_camera:before {
	content: '\e603';
}

.icon_aperture:before {
	content: '\e604';
}