@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Reenie+Beanie");
/* line 3, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
* {
  box-sizing: border-box; }

/* line 7, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: black;
  width: 100%;
  height: 100%; }

/* line 17, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
header {
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

/* line 23, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
header > nav {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.6rem;
  text-align: center;
  line-height: 2.6rem; }
  /* line 33, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > nav a {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.5s; }
    /* line 41, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    header > nav a:hover {
      color: #B4B4B4; }

/* line 47, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
header > section.full {
  position: relative;
  background: url("/static/photos/4.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0; }
  /* line 57, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > section.full h1 {
    font-family: 'Reenie Beanie';
    font-size: 13.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    margin: 0; }
  /* line 68, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > section.full .fadein {
    height: 100%;
    width: 100%; }
  /* line 73, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > section.full .gradient {
    margin-top: -8rem;
    height: 8rem;
    background: linear-gradient(to top, black, transparent); }

/* line 80, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
main {
  background-color: #000;
  padding: 0 1rem;
  width: 100%;
  max-width: 1300px;
  margin: auto; }

/*http://tympanus.net/codrops/2013/06/18/thumbnailCaption-hover-effects/*/
@font-face {
  font-family: "Camera-Icons";
  src: url(/static/camera-icons.ttf); }

/* line 94, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
body {
  color: white; }

/* line 98, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.categories {
  min-width: 10rem;
  position: relative;
  display: inline-block;
  height: 3rem;
  font-weight: 300;
  color: white;
  position: relative;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-sizing: content-box; }
  /* line 109, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .categories span {
    display: block;
    padding-left: 1rem;
    line-height: 3rem;
    font-size: 1.25rem; }
  /* line 116, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .categories .items {
    min-width: 100%;
    background-color: #b3b3b3;
    z-index: 10;
    display: none;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    /* line 122, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .categories .items a {
      text-decoration: none;
      white-space: nowrap;
      color: black;
      font-size: 1.25rem;
      display: block;
      height: 3rem;
      padding: 0.5rem 1rem;
      line-height: 2rem;
      transition: all 0.2s; }
      /* line 132, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
      .categories .items a:hover {
        color: #4d4d4d; }
  /* line 140, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .categories:hover .items {
    display: block; }

/* line 145, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.gallery {
  overflow: auto; }
  /* line 149, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .column {
    float: left; }
  /* line 150, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .size-1of2 {
    width: 50%; }
  /* line 151, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .size-1of3 {
    width: 33.33333%; }
  /* line 152, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .size-1of4 {
    width: 25%; }
  /* line 155, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery a {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: inline-block;
    cursor: zoom-in;
    margin: 0.5rem; }
    /* line 164, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a img {
      width: 100%;
      display: block;
      position: relative;
      transition: all 0.4s; }
    /* line 170, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a h3 {
      position: absolute;
      box-sizing: border-box;
      line-height: 2rem;
      margin: 0;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      transition: transform 0.4s;
      background-color: #EEEEEE;
      color: #424242;
      width: 100%;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase; }
    /* line 187, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a:hover h3 {
      transform: translateY(0);
      transition: transform 0.4s; }
    /* line 191, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a:hover img {
      transform: translateY(-2rem); }

/* line 198, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Lato';
  font-weight: 300; }
  /* line 209, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .sidebar {
    transition: all 0.5s ease-in-out;
    position: fixed;
    left: -18rem;
    top: 0;
    height: 100%;
    width: 18rem;
    display: inline-block;
    background-color: #1F1D1D;
    padding: 1rem; }
    /* line 220, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal .sidebar h2 {
      font-weight: 300;
      font-size: 2.5rem;
      margin: 0; }
    /* line 226, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal .sidebar p {
      margin: 0;
      margin-bottom: 1rem;
      color: #95989A; }
      /* line 230, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
      .modal .sidebar p span {
        display: block;
        padding-left: 2.5rem; }
    /* line 236, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal .sidebar #toggle {
      cursor: pointer;
      width: 2rem;
      height: 6rem;
      line-height: 6rem;
      top: 10rem;
      position: absolute;
      right: -2rem;
      background-color: #1F1D1D;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      /* line 248, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
      .modal .sidebar #toggle img {
        transition: all 0.5s;
        margin-top: 2.25rem;
        margin-left: 0.25rem;
        display: inline;
        width: 1.5rem; }
    /* line 257, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal .sidebar .editContainer {
      text-align: center;
      position: absolute;
      bottom: 1.5rem;
      left: 0;
      width: 100%; }
      /* line 263, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
      .modal .sidebar .editContainer a {
        text-decoration: none;
        color: black;
        background-color: #77d45b;
        padding: 0.5rem 2rem; }
  /* line 273, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal.showSide .sidebar {
    left: 0; }
    /* line 275, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal.showSide .sidebar img {
      transform: rotateY(180deg); }
  /* line 280, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal.showSide > img {
    left: 18rem; }
  /* line 285, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal > img {
    transition: all 1s;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation-name: zoomImage;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s; }

@keyframes zoomImage {
  0% {
    max-height: 0%;
    max-width: 0%; }
  50% {
    max-height: 0%;
    max-width: 0%; }
  100% {
    max-height: 100%;
    max-width: 100%; } }
  /* line 320, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal svg {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem; }
    /* line 326, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal svg rect.one {
      transform-origin: 50% 50% 0px;
      transform: rotate(45deg); }
    /* line 330, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .modal svg rect.two {
      transform-origin: 50% 50% 0px;
      transform: rotate(-45deg); }
  /* line 337, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .camera_icon {
    font-family: 'Camera-Icons';
    color: #77d45b;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    margin-right: .5em;
    margin-left: 1em;
    margin-top: -.15em; }
  /* line 356, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .icon_focal_length:before {
    content: '\e600'; }
  /* line 360, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .icon_exposure_time:before {
    content: '\e601'; }
  /* line 364, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .icon_iso:before {
    content: '\e602'; }
  /* line 368, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .icon_camera:before {
    content: '\e603'; }
  /* line 372, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .modal .icon_aperture:before {
    content: '\e604'; }

/* line 379, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.pageNumbers {
  width: 100%;
  text-align: center;
  color: #707070;
  font-weight: 300;
  font-size: 1.25rem; }
  /* line 385, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .pageNumbers a {
    text-decoration: none;
    color: white;
    padding: 0 0.5rem; }
    /* line 388, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .pageNumbers a#active {
      border-bottom: 2px solid white; }
  /* line 393, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .pageNumbers span {
    padding: 0 0.5rem;
    cursor: default; }

/* line 400, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
footer {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 1rem 0;
  border-top: 2px solid #949494;
  position: relative;
  color: #B4B4B4;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  font-smoothing: none; }
  /* line 415, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  footer a {
    color: #B4B4B4;
    text-decoration: none;
    transition: all 0.5s; }
    /* line 419, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    footer a:hover {
      color: white; }
  /* line 424, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  footer nav {
    position: absolute;
    left: 0; }
    /* line 427, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    footer nav a {
      margin-right: 1rem; }
  /* line 432, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  footer #right {
    position: absolute;
    right: 0; }
    /* line 435, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    footer #right a {
      font-weight: 400; }

/* line 444, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page {
  font-family: 'Lato';
  font-weight: 300; }

/* line 449, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page p, .about_page ul {
  color: white;
  max-width: 800px;
  margin: 2em auto;
  padding: 1em; }

/* line 455, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page h1 {
  color: white;
  text-align: center;
  padding: 1em; }

/* line 460, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page h3 {
  color: white;
  text-align: center;
  padding: 1em; }

/* line 470, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page img {
  max-width: 100%;
  display: inline;
  float: left;
  margin: 1rem; }

/*# sourceMappingURL=main.css.map */