@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Reenie+Beanie");
/* line 3, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
* {
  box-sizing: border-box; }

/* line 7, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: black;
  width: 100%;
  height: 100%; }

/* line 17, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
header {
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

/* line 23, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
header > nav {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.6rem;
  text-align: center;
  line-height: 2.6rem; }
  /* line 33, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > nav a {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.5s; }
    /* line 41, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    header > nav a:hover {
      color: #B4B4B4; }

/* line 47, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
header > section.full {
  position: relative;
  background: url("/static/photos/4.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0; }
  /* line 56, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > section.full h1 {
    font-family: 'Reenie Beanie';
    font-size: 13.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    margin: 0; }
  /* line 67, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > section.full .fadein {
    height: 100%;
    width: 100%; }
  /* line 72, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  header > section.full .gradient {
    margin-top: -8rem;
    height: 8rem;
    background: linear-gradient(to top, black, transparent); }

/* line 79, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
main {
  background-color: #000;
  padding: 0 1rem;
  width: 100%;
  max-width: 1300px;
  margin: auto; }

/*http://tympanus.net/codrops/2013/06/18/thumbnailCaption-hover-effects/*/
@font-face {
  font-family: "Camera-Icons";
  src: url(/static/camera-icons.ttf); }

/* line 93, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
body {
  color: white; }

/* line 97, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.categories {
  min-width: 10rem;
  position: relative;
  display: inline-block;
  height: 3rem;
  font-weight: 300;
  color: white;
  position: relative;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-sizing: content-box; }
  /* line 108, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .categories span {
    display: block;
    padding-left: 1rem;
    line-height: 3rem;
    font-size: 1.25rem; }
  /* line 115, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .categories .items {
    min-width: 100%;
    background-color: #b3b3b3;
    z-index: 10;
    display: none;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    /* line 121, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .categories .items a {
      text-decoration: none;
      white-space: nowrap;
      color: black;
      font-size: 1.25rem;
      display: block;
      height: 3rem;
      padding: 0.5rem 1rem;
      line-height: 2rem;
      transition: all 0.2s; }
      /* line 131, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
      .categories .items a:hover {
        color: #4d4d4d; }
  /* line 139, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .categories:hover .items {
    display: block; }

/* line 144, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.gallery {
  overflow: auto; }
  /* line 148, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .column {
    float: left; }
  /* line 149, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .size-1of2 {
    width: 50%; }
  /* line 150, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .size-1of3 {
    width: 33.33333%; }
  /* line 151, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery .size-1of4 {
    width: 25%; }
  /* line 154, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .gallery a {
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: block;
    cursor: zoom-in;
    margin: 0.5rem; }
    /* line 163, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a img {
      width: 100%;
      display: block;
      position: relative;
      transition: all 0.4s; }
    /* line 169, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a h3 {
      position: absolute;
      box-sizing: border-box;
      line-height: 2rem;
      margin: 0;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      transition: transform 0.4s;
      background-color: #EEEEEE;
      color: #424242;
      width: 100%;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase; }
    /* line 186, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a:hover h3 {
      transform: translateY(0);
      transition: transform 0.4s; }
    /* line 190, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .gallery a:hover img {
      transform: translateY(-2rem); }

/* line 197, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000; }

/* line 207, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.modal img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: zoomImage;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s; }

@keyframes zoomImage {
  0% {
    max-height: 0%;
    max-width: 0%; }
  50% {
    max-height: 0%;
    max-width: 0%; }
  100% {
    max-height: 100%;
    max-width: 100%; } }

/* line 239, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.fullCaption {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Roboto-Thin;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 5rem;
  padding: 1rem 0;
  display: block; }

/* line 251, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.fullCaption .name {
  color: white;
  font-size: 2rem;
  margin: 2rem; }

/* line 257, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.fullCaption .settings {
  color: #9E9E9E;
  font-size: 1.5rem; }

/* line 262, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.modal svg {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem; }

/* line 270, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.modal svg rect.one {
  transform-origin: 50% 50% 0px;
  transform: rotate(45deg);
  animation-name: rotateCrossesOne;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.25s; }

/* line 281, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.modal svg rect.two {
  transform-origin: 50% 50% 0px;
  transform: rotate(-45deg);
  animation-name: rotateCrossesTwo;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.25s; }

@keyframes rotateCrossesOne {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes rotateCrossesTwo {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }

/* line 311, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.camera_icon {
  font-family: 'Camera-Icons';
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  margin-right: .5em;
  margin-left: 2em;
  margin-top: -.15em; }

/* line 329, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.icon_focal_length:before {
  content: '\e600'; }

/* line 333, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.icon_exposure_time:before {
  content: '\e601'; }

/* line 337, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.icon_iso:before {
  content: '\e602'; }

/* line 341, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.icon_camera:before {
  content: '\e603'; }

/* line 345, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.icon_aperture:before {
  content: '\e604'; }

/* line 349, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.pageNumbers {
  width: 100%;
  text-align: center;
  color: #707070;
  font-weight: 300;
  font-size: 1.25rem; }
  /* line 355, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .pageNumbers a {
    text-decoration: none;
    color: white;
    padding: 0 0.5rem; }
    /* line 358, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    .pageNumbers a#active {
      border-bottom: 2px solid white; }
  /* line 363, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .pageNumbers #last {
    padding-right: 2.5rem; }
  /* line 367, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  .pageNumbers #next {
    padding-left: 2.5rem; }

/* line 373, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
footer {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 1rem 0;
  border-top: 2px solid #949494;
  position: relative;
  color: #B4B4B4;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  font-smoothing: none; }
  /* line 388, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  footer a {
    color: #B4B4B4;
    text-decoration: none;
    transition: all 0.5s; }
    /* line 392, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    footer a:hover {
      color: white; }
  /* line 397, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  footer nav {
    position: absolute;
    left: 0; }
    /* line 400, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    footer nav a {
      margin-right: 1rem; }
  /* line 405, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
  footer #right {
    position: absolute;
    right: 0; }
    /* line 408, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
    footer #right a {
      font-weight: 400; }

/* line 417, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page {
  font-family: 'Lato';
  font-weight: 300; }

/* line 422, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page p, .about_page ul {
  color: white;
  max-width: 800px;
  margin: 2em auto;
  padding: 1em; }

/* line 428, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page h1 {
  color: white;
  text-align: center;
  padding: 1em; }

/* line 433, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page h3 {
  color: white;
  text-align: center;
  padding: 1em; }

/* line 443, /Users/alexanderedwards/TonyMortonPhotography/static/styles/main.scss */
.about_page img {
  max-width: 100%;
  display: inline;
  float: left;
  margin: 1rem; }

/*# sourceMappingURL=main.css.map */