{% extends 'photos/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About
{% endblock %}

{% block body_block %}
    <div class="about_page">
			<h1>About Tony Morton</h1>
<p><img src="{% static '/photos/tony.JPG' %}">Tony Morton was born and reared on Flinders Island. For his tenth birthday he was given Cayley's "What Bird is That” and form that time on he developed his love for birds. He got his first camera as a sixteen year old and has had many over the years from slides to prints and now digital. Tony has lived the last fifty years in the Port Macquarie Hastings area and is now retired in the seaside town of Port Macquarie.
</p>

	<p>His photography began with family and holiday events with children's shots and more recently of his five grandchildren, a record of their early lives. With a keen interest in birds having bread many Australian and foreign birds over the years, in his retirement, he has spend a lot of time in the pursuit of the perfect bird photo. To assist with this goal, Tony has joined the Hastings Bird Watchers and The Port Macquarie Panthers Camera Club and from this he has been challenged to push the boundaries into other aspects of photography. The photos on this site demonstrate his photography journey.</p>

<h3>Some details of the cameras used in the compiling of this site:</h3>
<ul><li>Canon 550 D using Sigma 18-250 mm DC 3.5-6.3HSM lens and Sigma 120-400 DG 4.5-5.6APO HSM lens with Telex Pro 300 1.4x .</li>
<li>The everyday in your pocket camera is a Canon SX700 HS Powershot Canon Zoom Lens 30x IS . Equal to 600 mm only good for close range hand held.
</li>
<li>
	Canon 70 D and Sigma 5-6.3 150-600 Sports Lens the other two mentioned lenses are also used on this camera.</li></ul>
					</div>
{% endblock %}