<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Tony Morton Photography
            {% block title_block %}   
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static "/styles/main.css" %}" />
        {% block head_block %}

        {% endblock %}
        <script src="{% static '/scripts/main.js' %}"></script>
    </head>
    <body>
        <header>
            {% block header_nav_block %}
            <nav>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'index' %}">Home</a>
                <a href="mailto:tmorton1@bigpond.com ">Contact</a>
                {% if user.is_authenticated %}
                <a href="{% url 'newPhoto' %}">Submit Image</a>
                {% endif %}
                <a style="color:red"><strong>Site Under Development v0.1.1</strong></a>
            </nav>
            {% endblock %}

            {% block header_block %}
                
            {% endblock %}
        </header>
        
        
        
        <main>
        {% block body_block %}
            No Content Found
        {% endblock %}
        </main>
        
        {% block footer_block %}
        <footer>
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="mailto:tmorton1@bigpond.com ">Contact</a>
                {% if user.is_authenticated %}
                <a href="{% url 'newPhoto' %}">New Photo</a>
                <a href="/admin/">Admin</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
            
            <span id="center">
                Tony Morton © 2017
            </span>
            <span id="right">
                Website by <a href="https://alexedwards.xyz">Alex Edwards</a>.
            </span>
        </footer>
        {% endblock %}
    </body>
</html>