{% extends 'photos/base.html' %}
{% load staticfiles %}

{% block head_block %}
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static "/styles/gallery.css" %}" />

    <script src="{% static '/scripts/gallery.js' %}"></script>
    <script>        
        $(document).ready(function(){
            $(window).scroll(function() {
                $('header>section.full').each(function(r) {
                    var pos = $(this).offset().top;
                    var scrolled = $(window).scrollTop();
                    $('header>section.full').css('top', -(scrolled * 0.3) + 'px');
                });
            });
        });
    </script>
{% endblock %}

{% block header_block %}
<section class="full">
    <h1>Tony Morton</h1>
    <div class="fadein">
        <div class="bg" id="1" style=
        "background: url({% static '/photos/1.jpg' %}) no-repeat top center; background-size: cover;">
        </div>
        <div class="bg hidden" id="2" style=
        "background: url({% static '/photos/2.jpg' %}) no-repeat top center; background-size: cover;">
        </div>
        <div class="bg hidden" id="3" style=
        "background: url({% static '/photos/3.jpg' %}) no-repeat center center; background-size: cover;">
        </div>
    </div>
    <div class="gradient"></div>
</section>
<div class="fullPush"></div>

{% endblock %}

{% block body_block %}
    <section class="gallery">
    {% for photo in photos %}
        <a href="#" onclick="showModal('/photo/{{photo.id}}')">
            <img src="/media/thumb/{{ photo.id }}.jpg">
            <h3 class="thumbnailCaption">{{ photo.name }}</h3>
        </a>
    {% endfor %}
    </section>
    <div>
        {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}">previous</a>
        {% else %}
            previous
        {% endif %}

         {% for i in photos.paginator.page_range %}
            {% if photos.number == i %}
                <span>{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a> 
            {% endif %}
        {% endfor %}

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">next</a>
        {% else %}
            next
        {% endif %}
    </div>

{% endblock %}
