{% extends 'photos/base.html' %}
{% load staticfiles %}

{% block head_block %}
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    <script src="{% static '/scripts/gallery.js' %}"></script>
    <script>        
//        $(document).ready(function(){
//            $(window).scroll(function() {
//                $('header').each(function(r) {
//                    var pos = $(this).offset().top;
//                    var scrolled = $(window).scrollTop();
//                    $('header').css('top', -(scrolled * 0.3) + 'px');
//                });
//            });
//        });
    </script>
{% endblock %}

{% block header_block %}
<section class="full">
    <h1>Tony Morton</h1>
    <div class="fadein">
    </div>
    <div class="gradient"></div>
</section>
{% endblock %}

{% block body_block %}
    <div class="categories">
        {% if category is None %}
            <span>All</span>
        {% else %}
            <span>{{category}}</span>
        {% endif %}
        <div class="items">
            {% if category != None %}
                <a href="{% url 'index' %}">All</a>
            {% endif %}
            {% for cat in categories %}
                {% if cat != category %}
                <a href="{% url 'category' category_slug=cat.slug %}">{{cat}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <section class="gallery">
    {% for photo in photos %}
        <a onclick="showModal('/photo/{{photo.id}}')">
            <img src="/media/thumb/{{ photo.id }}.jpg">
            <h3 class="thumbnailCaption">{{ photo.name }}</h3>
        </a>
    {% endfor %}
    </section>
    <div class="pageNumbers">
        {% if showNav %}
            {% if photos.has_previous %}
                <a id="last" href="?page={{ photos.previous_page_number }}">Last Page</a>
            {% else %}
                <span id="last">Last Page</span>
            {% endif %}

             {% for i in photos.paginator.page_range %}
                {% if photos.number == i %}
                    <a id="active" href="?page={{ i }}">{{ i }}</a>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a> 
                {% endif %}
            {% endfor %}

            {% if photos.has_next %}
                <a id="next" href="?page={{ photos.next_page_number }}">Next Page</a>
            {% else %}
                <span id="next">Next Page</span>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
