<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<style>
		td {
			border-bottom: 1px solid black;
		}

		a {
			text-decoration: none;
			text-align: right;
		}

		</style>
	</head>
	<body>
		<h1>Photos without a name</h1>
		<table>
		<tr>
			<th>ID</th>
			<th>Photoname</th>
			<th>Edit Link</th>
		</tr>
		{% for photo in photos %}
			<tr>
				<td>
					{{ photo.id }}
				</td>

				<td>
					{{ photo.name }}
				</td>

				<td>
					<a href="{% url 'editPhoto' %}?id={{photo.id}}">Edit</a>
				</td>

			</tr>
		{% endfor%}
		</table>
	</body>
</html>